<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WELCOME</title>
</head>
<body>

    <h1 style="text-align: center">Hurmatli <%= last %> <%= first %>, tabriklaymiz, siz muvaffaqiyatli ro'yxatdan o'tingiz</h1>

</body>
</html>